<kirby-card themeColor="medium" [hasPadding]="true">
    <div style="display: flex; flex-direction: column; gap: 0.5rem;">
        <div style="display: flex; justify-content: space-between; align-items: center;">
            <div>
                <h3>{{ experience.title }}</h3>
                <p detail>{{ experience.companyName }}</p>
            </div>
            <div>
                <kirby-label>
                    <h4>{{ experience.startTime }} - {{ experience.endTime }}</h4>
                </kirby-label>
            </div>
        </div>
        <kirby-divider></kirby-divider>
        <p>{{ experience.description }}</p>
        @if(experience.bullets && experience.bullets.length > 0) {
        <ul>
            @for (bullet of experience.bullets; track $index) {
            <li>{{ bullet }}</li>
            }
        </ul>
        }
        @if(experience.skills && experience.skills.length > 0) {
        <kirby-divider></kirby-divider>

        <div style="display: flex; flex-wrap: wrap; gap: 0.5rem;">
            @for (skill of experience.skills; track $index) {
            <kirby-label>
                <kirby-badge>{{ skill }}</kirby-badge>
            </kirby-label>
            }
        </div>

        }
    </div>
</kirby-card>