<kirby-page>
    <kirby-header [title]="'CV'"></kirby-header>

    <kirby-page-content>
        <kirby-card class="cv-section" [hasPadding]="true">
            <div style="display: flex; align-items: center; gap: 1rem;">
                <kirby-avatar size="lg" name="Fred5850"
                    imageSrc="https://randomuser.me/api/portraits/men/62.jpg"></kirby-avatar>
                <div>
                    <h3>Fred5850</h3>
                    <p detail>Fullstack Developer</p>
                </div>
            </div>
            <kirby-divider></kirby-divider>

            <kirby-item>
                <kirby-icon name="mail" slot="start"></kirby-icon>
                <kirby-label>
                    <h3>jane.doe&#64;example.com</h3>
                    <p detail>Email</p>
                </kirby-label>
            </kirby-item>
            <kirby-item>
                <kirby-icon name="call" slot="start"></kirby-icon>
                <kirby-label>
                    <h3>+45 234 567 890</h3>
                    <p detail>Phone</p>
                </kirby-label>
            </kirby-item>
            <kirby-item>
                <kirby-icon name="location" slot="start"></kirby-icon>
                <kirby-label>
                    <h3>'Town', Denmark</h3>
                    <p detail>Location</p>
                </kirby-label>
            </kirby-item>


        </kirby-card>
        <kirby-card class="cv-section" [hasPadding]="true">
            <h4>Profile</h4>
            I am a proactive and collaborative fullstack developer (AP in Computer Science, 2021) with strong
            problem-solving skills and a passion for delivering robust solutions. Experienced in fullstack development,
            i thrive in agile teams and enjoys tackling complex challenges. i am known for being self-sufficient and a
            reliable team player, i am committed to building high-quality software that makes a difference.
        </kirby-card>

        <kirby-card class="cv-section" [hasPadding]="true">
            <h4>Experience</h4>
            <div>
                @for (item of experiences; track $index) {
                <div class="cv-section">

                    <app-experience [experience]="item"></app-experience>
                </div>
                }
            </div>
        </kirby-card>

        <kirby-card class="cv-section" [hasPadding]="true">
            <h4>Skills</h4>
            <div>
                @for (skill of allSkills; track $index) {
                <kirby-label>
                    <kirby-badge>{{ skill }}</kirby-badge>
                </kirby-label>
                }
            </div>
        </kirby-card>
    </kirby-page-content>

    <kirby-page-footer>
        Insert Footer text here
    </kirby-page-footer>
</kirby-page>